@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Pretendard Variable', Pretendard, -apple-system, sans-serif;
  word-break: keep-all;
  overflow-wrap: break-word;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
